<h1>Register</h1>

<form action="/api/session/register" method="post">
    First Name: <input type="text" name="first_name">
    Last Name: <input type="text" name="last_name">
    Age: <input type="text" name="age">
    Email: <input type="text" name="email">
    Password: <input type="text" name="password">

    <button type="submit">Enviar</button>
</form>