<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calse 13  - 01</title>
</head>
<body>
    <ul>
        <li><a href="/login-github">Login Github</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
    {{{ body }}}
</body>
</html>