<div id="result"></div>

<script>

    fetch('/jwt/current', {
        headers: {
            'Content-Type': 'application/json',
        }
    }).then(r => r.json())
        .then(data => {
            document.getElementById('result').innerHTML = JSON.stringify(data)
        })

</script>