<h2>Create Product</h2>
<a href="/products">Product List</a>

<form action="/form-products" method="post">
    Name: <input type="text" name="name">
    <br>
    Price: <input type="number" name="price">
    <br>
    <button type="submit">Enviar</button>
</form>