<h2>Create Product</h2>

<form action="/form-products" method="post">
    Name: <input type="text" name="name">
    <br>
    Img: <input type="text" name="image">
    <br>
    Description: <input type="text" name="description">
    <br>
    Price: <input type="number" name="price">
    <br>
    <button type="submit">Enviar</button>
</form>