<h2>Products - Real Time</h2>

<form id='myForm'>
    Name: <input type="text" name="name">
    <br>
    Price: <input type="number" name="price">
    <br>
    <button type="submit">Enviar</button>
</form>

<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {{#each products}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()

    document.getElementById('myForm').onsubmit = e => {
        e.preventDefault()

        const name = document.querySelector('input[name=name]').value
        const price = parseInt(document.querySelector('input[name=price]').value)

        const product = { name, price }
        socket.emit('new-product', product)

    }

    socket.on('reload-table', products => {
        console.log(products)
        const tbody = document.getElementById('tbody')

        let html = '';
        products.forEach(product => {
            html += `<tr>
                <th scope="row">${product.id}</th>
                <td>${product.name}</td>
                <td>${product.price}</td>
            </tr>`
        })

        tbody.innerHTML = html
    })

</script>