<h2>Create Pokemon</h2>

<form action="/pokemon/create" method="POST">
    Name: <input name="name">
    Photo: <input name="photo">
    Type: <input name="type">
    Id: <input type="number" name="id">

    <input type="submit" value="Crear">
</form>